{{#if model.noContent}}
    <div class='no-content'>
        {{{model.noContentHelp}}}
    </div>
{{/if}}

{{#unless model.isCurrentUser}}
    {{rating-composer stream=model}}
{{/unless}}

{{#user-stream stream=model}}
    {{#each model.content as |item|}}
        {{rating-item item=item removeBookmark="removeBookmark"}}
    {{/each}}
{{/user-stream}}
