<div class="rating-stars-container">
    {{popup-input-tip validation=starsValidation}}
    <div class="rating-stars">
        {{#each stars as |star|}}
            <span class="star-icon {{if star.full 'full' ''}}">☆</span>
        {{/each}}
    </div>
</div>
